.d-flex.p-2 {
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-color: lightgoldenrodyellow;
}
p.MonHeadButton {
    top: 0.5rem;
    position: relative;
}

button.p-button.p-component.p-button-icon-only {
    display: contents;
    color: #858796 !important;
}

.mr-2 {
    padding-left: 30px;
}

.p-button.p-component {
    margin: 1%;
    border: 1px solid black !important;
    border-radius: 8px !important;
    font-size: 13px;
}

th {
    color: white;
    padding-left: 5px;
    height: 30px;
}

#mesCA {
    margin-left: 25px;
    margin-right: 25px;
    bottom: 35px;
    position: relative;
}

.mb-3 {
    margin-left: 25px;
    margin-right: 25px;
    bottom: 35px;
    position: relative;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-dialog .p-button {
    min-width: 6rem;
}

.p-multiselect {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .p-multiselect {
        width: 100%;
    }
}